.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(197 237 255);
  position: fixed;
  width: 100%;
  top: 150px;
  left: 0;
  right: 0;
  padding: 10px;
}
.current-selection {
  margin: 10px;
}
.current-question-title {
  display: block;
  text-align: center;
}
/* For the dropdown content */
.dropdown {
  position: absolute;
  background-color: rgb(197 237 255);
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  top: 100%;
  left: 107px;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.dropdown::after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #943c3c; /* Adjust arrow color here */
  position: absolute;
  top: -4px; /* Position arrow at top of dropdown */
  left: 50%;
  transform: translateX(-50%);
}
/* For the dropdown list */
.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-active {
  display: block;
}

/* For the dropdown items */
.dropdown-item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
  background-color: #f7f9fa;
}

/* For the icons in the dropdown items */
.fas {
  font-size: 12px;
  margin-right: 5px;
  color: #9daec2;
}

/* To show the dropdown content */
.practice:hover .dropdown {
  display: block;
}

.question-wrap {
  width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 5px 0 rgba(171, 213, 231, 0.6);
}
.lession-content-overview,
.daily-content-overview {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  margin-right: 15px;
}
.student-daily-img {
  width: 50%;
}
.img-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  height: 228px;
  width: 200px;
  text-align: center;
  align-items: center;
  margin: auto;
}

.created-date {
  display: flex;
  justify-content: space-between;
}
.select-option {
  font-weight: 400;
  font-size: 1rem;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  line-height: 1.5;
  border-radius: 0.5rem;
  border: 1px solid rgb(49, 171, 224, 0.6);
  color: #000;
  cursor: pointer;
  display: flex;
  padding: 10px;
  margin: 10px 5px;
  position: relative;
  width: 100%;
  word-break: break-word;
  display: grid;
  grid-template-columns: auto 1fr;
}
.categories-input {
  margin-bottom: 10px;
  margin-top: 10px;
}
.new-form {
  width: 589px;
  margin: 10px auto;
  background-color: rgba(184, 227, 245, 0.3);
  border: 1px solid rgb(49, 171, 224, 0.6);
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 3px;
}
.category-kbn {
  width: 56px;
  height: 25px;
}
.label-input {
  width: 100px;
  margin: 5px;
}

input[type="text"],
input[type="date"],
.textareacss {
  background-color: rgba(184, 227, 245, 0.3);
  border-radius: 5px;
  border: none;
  height: 30px;
  padding-left: 10px;
  outline: none;
  width: 98%;
}
input[type="text"]:focus,
input[type="date"]:focus,
.textareacss:focus,
#dailyContent1:focus,
#dailyContent2:focus,
#announceContent:focus {
  border: 1px solid rgba(156, 209, 232, 0.6);
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 2px dashed rgba(86, 185, 227, 0.6);
  display: inline-block;
  padding: 12px 12px;
  border-radius: 4px;
  /* background-color: rgba(156, 209, 232, 0.6);; */
  cursor: pointer;
}
.fa-image {
  margin: 0;
  color: rgba(86, 185, 227, 0.6);
  font-size: 80px;
}
.choose-btn {
  border: 1px solid rgba(156, 209, 232, 0.6);
  background-color: rgba(11, 174, 244, 0.3);
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px 0 rgba(171, 213, 231, 0.6);
  height: 30px;
  margin-left: 10px;
}
.vocabulary-list {
  width: 600px;
  position: relative;
  left: 16px;
  right: 0;
  margin: 10px;
}
.vocabu-list-title {
  margin: 10px 5px 0 5px;
}

.new-btn {
  margin: 0 5px;
}

.vocabu-list-table {
  border-collapse: collapse;
}

.vocabu-table-title {
  font-weight: bold;
}

.vocabu-table-content {
  text-align: center;
}

.vocabu-table-tr:hover {
  background-color: rgba(147, 214, 243, 0.6);
}

.vocabu-table-head {
  background-color: rgb(166 217 239);
}

.question-input {
  position: relative;
  left: 25px;
}
.add-question-btn {
  font-size: 20px;
  font-weight: 700;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgb(67, 186, 237);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.add-question-btn:hover {
  background-color: rgba(8, 170, 239);
}
.new-categories-container-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.new-categories-container {
  background-color: #fff;
  height: 400px;
  max-height: 700px;
  min-height: 400px;
  position: relative;
  top: 172px;
  padding: 10px;
  border-radius: 5px;
}
.category-kbn,
.new-btn {
  margin-right: 10px;
  width: 100px;
  padding: 5px;
  background-color: rgb(146 216 246 / 30%);
  /* border: 1px solid; */
  border: 1px solid rgb(49, 171, 224, 0.6);
  border-radius: 5px;
  height: 30px;
}
.new-btn {
  width: 70px;
}
