.question-type-menu {
  width: 17%;
  margin: 10px 5px 10px 0px;
  background-color: rgba(147, 220, 248, 0.6);
  border: 1px solid rgb(49, 171, 224, 0.6);
  border-radius: 2px;
  padding-left: 10px;
}

.another-infomation {
  width: 20%;
  background-color: rgba(147, 220, 248, 0.6);
  border: 1px solid rgb(49, 171, 224, 0.6);
  border-radius: 2px;
}